@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

.MainTextAreaDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MainTextArea{
    display: block;
    width: 80vw;
    max-width: 600px;
    height: 300px;
    padding-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    resize: none;
}

.main-text-area-prompt{
    margin-left: 5px; 
    margin-bottom: 5px;
    font-family: 'Lato', sans-serif;
}

.SubmitButton{
    width: 100px;
    height: 30px;
    border-radius: 20px;
}

.name-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.name-entry textarea {
    resize: none;
    border-radius: 34px;
    margin-right: 19px;
    padding-top: 10px;
    padding-left: 22px;
    font-size: 1.1em;
    height: 30px;
    font-family: 'Lato', sans-serif;
    width: 100%;
}

.name-entry button {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: #72cc50;
    color: white;
    font-size: 1.5em;
}

.name-entry button:hover{
    background-color: rgba(114, 205, 81, 0.672);
}

.name-entry-prompt {
    font-family: 'Lato', sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
}

.name-entry-prompt-ignore {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.672);
}

.NameSelector{
    width: 63vw;
    max-width: 500px;
    margin-bottom: 20px ;
}

.name-selector-ignore .name-entry button {
    background-color: rgb(255, 130, 130); 
}