.new-name-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px; 
}

.new-person{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 216, 216);
    border-radius: 6px;
}

.new-person .new-person-name{
    text-align: center;
    vertical-align: middle;
    margin: 2px 6px;
    margin-bottom: 3px;
    margin-left: 10px;
}

.new-person button{
    background-color: unset;
    border: none;
    padding: 0px;
    padding-left: 3px;
    margin-right: 6px;
    cursor: pointer;
    border-left: 1px solid rgb(174, 174, 174);
}

