.PersonUsed {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.NameTag {
    background-color: rgb(118, 162, 255);
    margin: 0px 3px;
    border-radius: 3px;
    width: 75px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.AddTag {
    background-color: rgb(182, 182, 182);
    margin: 0px 3px;
    border-radius: 3px;
    width: 75px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.NameTagName {
    margin: auto;
}

.AddTagName {
    margin: auto;
    color: rgb(145, 145, 145);
}

.NameTag > button {
    border-style: none;
    background-color: rgba(109, 63, 63, 0);
    padding-left: 2px;
    padding-right: 4px;
}
